<div>
    <h2>Transactions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 no-padding-left no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="tradeId"><span>Trade Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tradeTime"><span>Trade Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="symbol"><span>Symbol</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="product"><span>Product</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span>Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="strikePrice"><span>Strike Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cash"><span>Cash</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="share"><span>Share</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="trader.id"><span>Trader</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="transaction in vm.transactions track by transaction.id">
                    <td><a ui-sref="transaction-detail({id:transaction.id})">{{transaction.tradeId}}</a></td>
                    <td>{{transaction.tradeTime | date:'medium'}}</td>
                    <td>{{transaction.symbol}}</td>
                    <td>{{transaction.product}}</td>
                    <td>{{transaction.type}}</td>
                    <td>{{transaction.strikePrice}}</td>
                    <td>{{transaction.cash}}</td>
                    <td>{{transaction.share}}</td>
                    <td>
                        <a ui-sref="trader-detail({id:transaction.trader.id})">{{transaction.trader.user.login}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="transaction-detail({id:transaction.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
