
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTransactionLabel">Create or edit a Transaction</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.transaction.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.transaction.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tradeId">Trade Id</label>
            <input type="number" class="form-control" name="tradeId" id="field_tradeId"
                    ng-model="vm.transaction.tradeId"
                    required/>
            <div ng-show="editForm.tradeId.$invalid">
                <p class="help-block"
                    ng-show="editForm.tradeId.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.tradeId.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tradeTime">Trade Time</label>
                <div class="input-group">
                    <input id="field_tradeTime" type="text" class="form-control" name="tradeTime" datetime-picker="{{dateformat}}" ng-model="vm.transaction.tradeTime" is-open="vm.datePickerOpenStatus.tradeTime"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('tradeTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.tradeTime.$invalid">
                <p class="help-block"
                    ng-show="editForm.tradeTime.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.tradeTime.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_symbol">Symbol</label>
            <input type="text" class="form-control" name="symbol" id="field_symbol"
                    ng-model="vm.transaction.symbol"
                    required ng-pattern="/^[a-zA-Z0-9]*$/"/>
            <div ng-show="editForm.symbol.$invalid">
                <p class="help-block"
                    ng-show="editForm.symbol.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.symbol.$error.pattern" translate-value-pattern="Symbol">
                    This field should follow pattern for "Symbol".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_product">Product</label>
            <select class="form-control" name="product" ng-model="vm.transaction.product" id="field_product" required>
                <option value="Stock">Stock</option>
                <option value="Bond">Bond</option>
                <option value="Forex">Forex</option>
            </select>
            <div ng-show="editForm.product.$invalid">
                <p class="help-block"
                    ng-show="editForm.product.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_type">Type</label>
            <select class="form-control" name="type" ng-model="vm.transaction.type" id="field_type" required>
                <option value="Put">Put</option>
                <option value="Call">Call</option>
            </select>
            <div ng-show="editForm.type.$invalid">
                <p class="help-block"
                    ng-show="editForm.type.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_strikePrice">Strike Price</label>
            <input type="number" class="form-control" name="strikePrice" id="field_strikePrice"
                    ng-model="vm.transaction.strikePrice"
                    required/>
            <div ng-show="editForm.strikePrice.$invalid">
                <p class="help-block"
                    ng-show="editForm.strikePrice.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.strikePrice.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cash">Cash</label>
            <input type="number" class="form-control" name="cash" id="field_cash"
                    ng-model="vm.transaction.cash"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_share">Share</label>
            <input type="number" class="form-control" name="share" id="field_share"
                    ng-model="vm.transaction.share"
                    required/>
            <div ng-show="editForm.share.$invalid">
                <p class="help-block"
                    ng-show="editForm.share.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.share.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_trader">Trader</label>
            <select class="form-control" id="field_trader" name="trader" ng-model="vm.transaction.trader" ng-options="trader as trader.id for trader in vm.traders track by trader.id" required>
            </select>
        </div>
        <div ng-show="editForm.trader.$invalid">
            <p class="help-block"
                ng-show="editForm.trader.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
