<div>
    <h2>Bonds</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="bond.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down" >
                        Create new Bond
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tradeId"><span>Trade Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="symbol"><span>Symbol</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="quote"><span>Internal Quote</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="position"><span>Position</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pnl"><span>Pnl</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="trader.id"><span>Trader</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span>Bloomberg Quote</span></th>
                    <th><span>Pnl (Calculated with Bloomberg Quote)</span></th>
                    <th>Difference</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bond in vm.bonds track by bond.id">
                    <td><a ui-sref="bond-detail({id:bond.id})">{{bond.id}}</a></td>
                    <td>{{bond.tradeId}}</td>
                    <td>{{bond.symbol}}</td>
                    <td>{{bond.quote}}</td>
                    <td>{{bond.position}}</td>
                    <td>{{bond.pnl}}</td>
                    <td>
                        <a ui-sref="trader-detail({id:bond.trader.id})">{{bond.trader.user.login}}</a>
                    </td>
                    <td>{{bond.bloombergQuote}}</td>
                    <td>{{bond.bloombergPnl}}</td>
                    <td>{{bond.bloombergPnl - bond.pnl}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="bond.edit({id:bond.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down">Amend</span>
                            </button>
                            <!--
                            <button type="submit"
                                    ui-sref="bond-detail({id:bond.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="bond.edit({id:bond.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="bond.delete({id:bond.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
