
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStockLabel">Create or edit a Stock</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.stock.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.stock.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_symbol">Symbol</label>
            <input type="text" class="form-control" name="symbol" id="field_symbol"
                    ng-model="vm.stock.symbol"
                    required ng-pattern="/^[a-zA-Z0-9]*$/"/>
            <div ng-show="editForm.symbol.$invalid">
                <p class="help-block"
                    ng-show="editForm.symbol.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.symbol.$error.pattern" translate-value-pattern="Symbol">
                    This field should follow pattern for "Symbol".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_quote">Quote</label>
            <input type="number" class="form-control" name="quote" id="field_quote"
                    ng-model="vm.stock.quote"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_close">Close</label>
            <input type="number" class="form-control" name="close" id="field_close"
                    ng-model="vm.stock.close"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_currency">Currency</label>
            <select class="form-control" name="currency" ng-model="vm.stock.currency" id="field_currency">
                <option value="USD">USD</option>
                <option value="HKD">HKD</option>
                <option value="CNY">CNY</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
